input[name="displayName"] {
    border : 0;
    padding: 0;
    height: 80%;
    margin-top:3%;
    padding-left:10px;
    background-color: rgba(0,0,0,0);
    color:#FFF;
    border-bottom:1px solid white;
}

input[name="displayName"]:hover {
    cursor: pointer;
}

input[name="displayName"]:focus {
    outline-width: 0;  
    cursor:default;
    outline:none;
}